.users__main {}

.users__header {
    max-width: 1440px;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F6F9;
    margin: 0 auto;
    padding: 0 112px;
    box-sizing: border-box;
}

.users__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #112A85;
}

.users__add-button {
    text-transform: uppercase;
    width: 314px;
    height: 44px;
    background: #E4E6EF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.users__add-button:hover {
    opacity: 0.7;
}

.users__button-text {
    color: #123FDD;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
}

.users__image {
    margin-left: 11px;
}

.users__content {
    max-width: 1440px;
    padding: 0 112px;
    margin: 0 auto;
    box-sizing: border-box;
}

.users__info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.users__sort-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.users__sort-button-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #5D606C;
}

.users__image-arrow {
    margin-left: 9px;
}

.users__user-counter {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #5D606C;
}

.users__table {
    display: grid;
    grid-template-columns: 158px 133px 119px 1fr 112px 147px 103px 92px 60px 60px;
    row-gap: 12px;
    margin-top: 40px;
}

.users__table-caption {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #B7BAC5;
    text-align: center;
    margin: 0;
    display: block;
}
